

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid " style="background-color: white">
    <a class="navbar-brand name" href="#">PRISMU ENTERPRISES LTD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end menu " id="navbarNavDropdown">
      
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" routerLink="/service" routerLinkActive="active">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
        
       
      </ul>
    </div>
  </div>
</nav>