<div class="wsite-section-content">
  <div class="content-wrap container">
    <div class="wsite-section-elements">
      <h2 class="wsite-content-title title" style="text-align: center">
        About 
      </h2>

      <div class="paragraph" style="text-align: center">
        With over 8 years of experience and a commitment to excellence, Prismu
        Enterprises Ltd has been serving commercial and residential clients all
        throughout Abbotsford, Mission and Aldergrove. From snow plowing and
        salting to sidewalk clearing and emergency services, our crew is
        dedicated to delivering reliable, and top-quality service every time.
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
   
  <div class="col-md-2"></div>

  <div class=" col-6 col-md-4">
    <h2 class="headtext">Our Commitment To Excellence 
    </h2>
   
    <div class="text">
      <p>
        At Prismu Snow Removal, we are committed to delivering the highest quality service to our clients. We understand the importance of keeping your business operations running smoothly, even during the most challenging winter weather conditions. That's why we go above and beyond to ensure that your property is clear, safe, and accessible.
      </p>
    </div>
  </div>
  <div class="logo d-flex justify-content-center col-6 col-md-4">
    <img src="assets/images/frbanner.jpg" alt="..." />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row " style="margin-top: 20px;">
   
  <div class="col-md-2"></div>

  <div class=" col-6 col-md-4">
    <h2 class="headtext">Environmental Responsibility 
    </h2>
   
    <div class="logo ">
      <img src="assets/images/side6.jpg" alt="..." />
    </div>
  </div>
  <div class="text d-flex justify-content-center col-6 col-md-4">
    <p>
      We are committed to minimizing our environmental impact. That's why we use eco-friendly snow removal techniques and materials whenever possible. From using biodegradable salting agents to employing energy-efficient equipment, we strive to protect the environment while keeping your property safe and clear of snow and ice.       </p>
  </div>
 
  <div class="col-md-2"></div>
</div>

<div class="row" style="margin-bottom: 20px;">
   
  <div class="col-md-2"></div>

  <div class=" col-6 col-md-4">
    <h2 class="headtext">Safety First

    </h2>
   
    <div class="text">
      <p>
        Safety is our top priority. We adhere to strict safety protocols and standards to ensure the safety of our team members, your property, and everyone who visits your business premises during snow events.      </p>
    </div>
  </div>
  <div class="logo d-flex justify-content-center col-6 col-md-4">
    <img src="assets/images/side7.jpg" alt="..." />
  </div>
  <div class="col-md-2"></div>
</div>
