<div class="wsite-section-content">
  <div class="content-wrap container">
    <div class="wsite-section-elements">
      <h2 class="wsite-content-title title" style="text-align: center">Contact</h2>

      <div class="paragraph" style="text-align: center">
        Whether you need immediate assistance or want to inquire about our seasonal contracts, we're here to help.<br> Feel free to
        reach out to us and we would be glad to help you out with your quote or question.
      </div>

     
    </div>
  </div>
</div>


  <div class="row">
    <div class="col-md-2"></div>
    <div class=" d-flex justify-content-center col-6 col-md-4">
      <div class="formin">
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="name">
              
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone No.</label>
              <input type="number" class="form-control" id="phone" aria-describedby="phoneno">
            
            </div>
            <div class="mb-3">
              <label for="msg" class="form-label">Message</label>
              <input type="text" class="form-control" id="message" aria-describedby="msg">
            
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-success ">Submit</button>
            </div>
           
          </form>
        
      </div>
      </div>
      <div class=" d-flex justify-content-start col-6 col-md-4">
        <div class="paragraph">
          Phone: <a href="tel:7785561513">778-556-1513</a><br />
          <br />Email: <a href="mailto:prismu@prismu.com">hanslawn&#64;gmail.com</a
          ><br />
          <br />Address:&nbsp;2838 Garden St, Abbotsford, BC V2T 4W7<br />
          <br />Hours: Open 24 hours Monday-Sunday<br /><br />Contact Form: Have a
          question or need a quote? Fill out our contact form, and we'll get back
          to you.
        </div>
  
    </div>
    <div class="col-md-2"></div>
  </div>