*{
    font-family: 'Times New Roman', Times, serif;
}
.title{
    font-size: 38px;
    margin-bottom: 20px;
    font-weight: 600;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.paragraph{
    margin-bottom: 35px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    
    font-weight: 400;
}
.paragraph a{
    text-decoration: none;
    color:#9CC359;
}
    

    .content-wrap {
        overflow: hidden;
    }
    .container {
        width: 100%;
        max-width: 1100px;
        overflow: hidden;
        margin: auto;
        padding: 2em;
        z-index: 1;
        box-sizing: border-box;
    }
 
.formin{
    border: 2px solid gray;
    padding: 20px;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}