<div class="wsite-section-content">
    <div class="content-wrap container">
      <div class="wsite-section-elements">
        <h2 class="wsite-content-title title" style="text-align: center">Service</h2>
  
        <div class="paragraph" style="text-align: center">
            Our expert team at Hans Lawn Care Ltd is dedicated to delivering comprehensive lawn care services tailored to the unique needs of your property. From meticulous mowing and precise edging to expert fertilization and weed control, we ensure your lawn remains healthy and visually stunning throughout the year. Utilizing the latest equipment and sustainable practices, we transform your outdoor spaces into vibrant, well-maintained areas that enhance the overall beauty and value of your property.<br> Trust Hans Lawn Care Ltd for reliable, professional lawn care that exceeds your expectations every season.
        </div>
  
       
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-2"></div>
    <div class=" d-flex justify-content-center col-6 col-md-4">
      <div class="text">
        
        <p>
          <span class="head">Snow Plowing: </span>
          Our specialized equipment and skilled operators ensure efficient and thorough snow plowing for parking lots, access roads, and driveways. We monitor weather conditions closely and deploy our team on the right time to prevent accumulation and ensure safe passage for your business.
        </p>        </div>
      </div>
      <div class="logo d-flex justify-content-center col-6 col-md-4">
        <video src="assets/images/vid1.mp4" width="400" height="300" controls=" muted">   </video>


       
  
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    
        <div class="logo d-flex justify-content-center col-6 col-md-4">
          <video src="assets/images/vid2.mp4" width="400" height="300" controls=" muted">   </video>

      
        </div>
     
      <div class=" d-flex justify-content-center col-6 col-md-4">
        <div class="text">
        
          <p>
            <span class="head">Salting: </span>
             Prevent slips and falls with our expert salting services, using environmentally friendly materials to protect your property and the environment. We assess the unique requirements of your property and apply de-icing agents strategically to ensure maximum effectiveness and minimal environmental impact.          </p>        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class=" d-flex justify-content-center col-6 col-md-4">
      <div class="text">
        
        <p>  <span class="head">Sidewalk Clearing:</span> Keep pedestrian walkways safe and accessible with our prompt sidewalk clearing services, utilizing specialized equipment for thorough snow and ice removal. Our team pays close attention to detail, ensuring all walkways, entryways, and ramps are clear of snow and ice to prevent accidents and ensure compliance with local regulations. </p> </div>
      </div>
      <div class="logo d-flex justify-content-center col-6 col-md-4">
        <video src="assets/images/vid3.mp4" width="400" height="300" controls=" muted">   </video>

  
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
   
      
      <div class="logo d-flex justify-content-center col-6 col-md-4">
        <video src="assets/images/vid4.mp4" width="400" height="300" controls=" muted">   </video>

    </div>
    <div class=" d-flex justify-content-center col-6 col-md-4">
      <div class="text">
        
        <p>  <span class="head"> 24/7 Emergency Services:</span> Snow emergencies can happen at any time. That's why we offer 24/7 emergency snow removal services to ensure your business remains operational and your customers and employees stay safe. Whether it's a sudden blizzard, heavy snowfall overnight, or unexpected ice storm, our dedicated team is ready to respond promptly and restore safety and accessibility to your property.  </p>      </div>
      </div>
     
    <div class="col-md-2"></div>
  </div>

